@import '../../shared';
.create-workspace {
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $dark_overlay;
    .create-workspace-overlay {
        position: absolute;
        width: 100vw;
        height: 100vh;
        z-index: 1;
    }

    .create-workspace-dialog {
        position: relative;
        z-index: 2;
        box-shadow: 0px 0px 50px rgba($color: #000, $alpha: 0.50);
        padding: 20px 45px 30px 45px;
        background-color: rgba($color: #fff, $alpha: 1);
        display: flex;
        flex-flow: column wrap;
        min-width: 530px;
        opacity: 0;
        animation: slide-in-from-top 0.5s linear 0.05s forwards;

        label {
            width: 100%;
            line-height: 54px;
            color: rgba($color: $primary_accent, $alpha: 1);
        }

        input {
            width: 100%;
            line-height: 54px;
            background-color: #f6f6f6;
            border: 1px solid rgba($color: $primary_accent, $alpha: 0.10);
            outline: none;
            font-size: medium;
            padding: 0 10px;
            color: rgba($color: #000, $alpha: 0.75);
        }

        .create-workspace-actions {
            padding: 20px 0 0 0;
            display: flex;
            justify-content: space-between;
            align-items: center;
            ul {
                list-style: none;
                display: flex;
                padding: 0 0 0 3px;
                margin: 0;
                
                li {
                    width: 20px;
                    height: 20px;
                    border-radius: 50%;
                    cursor: pointer;
                    position: relative;
                    &:not(.active):after {
                        content: '';
                        width: 22px;
                        height: 22px;
                        position: absolute;
                        top: -4px;
                        left: -4px;
                        border-radius: 50%;
                        border: 3px solid rgba($color: $primary_accent, $alpha: 0.0);
                    }
                    &.active:after {
                        content: '';
                        width: 22px;
                        height: 22px;
                        position: absolute;
                        top: -4px;
                        left: -4px;
                        border-radius: 50%;
                        border: 3px solid rgba($color: $primary_accent, $alpha: 1);
                    }
                    &:not(.active):hover:after {
                        content: '';
                        width: 22px;
                        height: 22px;
                        position: absolute;
                        top: -4px;
                        left: -4px;
                        border-radius: 50%;
                        border: 3px solid rgba($color: $primary_accent, $alpha: 0.25);
                    }
                    &:not(:last-child) {
                        margin-right: 9px;
                    }
                }
            }
            button {
                cursor: pointer;
                background: $primary_accent;
                line-height: 36px;
                border-radius: 30px;
                border: 2px solid rgba($color: $primary_accent, $alpha: 1);
                box-shadow: 0px 0px 3px rgba($color: #000, $alpha: 0.1);
                min-width: 100px;
                padding: 0 20px;
                color: rgba($color: #fff, $alpha: 1);
                text-transform: uppercase;
                letter-spacing: 1px;
                font-weight: bold;
                outline: none;
                font-size: small;
                transition: all 0.2s linear 0s;

                &:hover {
                    background-color: rgba($color: #fff, $alpha: 1);
                    color: rgba($color: #000, $alpha: 0.75);
                }
            }
        }
    }
}