.tabs-wrapper {
    width: 100%;
    height: 100%;
    overflow-y: hidden;
    display: flex;
    flex-flow: column;
    position: relative;

    .tabs-header {
        order: 1;
        height: 60px;
        display: flex;
        padding: 0 30px;
        border-bottom: 1px solid rgba(#fff, 0.05);
        &.compressed {
            padding: 0 15px;
        }

        ul {
            &.tabs-titles {
                order: 1;
                height: 60px;
                flex: initial;
                padding: 0;
                white-space: nowrap;
                display: flex;
                list-style: none;
                margin: 0;

                &.compressed {
                    width: 100%;
                    padding: 0;

                    li {
                        flex: 1;
                        min-width: auto;
                        font-size: small;
                    }
                }

                li {
                    padding: 0;
                    line-height: 60px;
                    padding: 0 15px;
                    margin-right: 1px;
                    background: rgba(#fff, 0.00);
                    min-width: 100px;
                    opacity: 0.50;
                    text-align: center;
                    cursor: pointer;
                    user-select: none;

                    &.active {
                        border-bottom: 1px solid rgba(#fff, 0.50);
                        opacity: 1;
                    }

                    &:hover {
                        background: rgba(#fff, 0.10);
                    }
                }
            }
        }

        .tabs-resizer-container {
            order: 2;
            width: 180px;
            margin-left: auto;

            .tabs-resizer-wrapper {
                width: 100%;
                height: 60px;
                position: relative;
                display: flex;
                justify-content: center;
                align-items: center;
                cursor: pointer;

                .tabs-resizer-handler {
                    width: 100%;
                    background: rgba(#fff, 0.10);
                    border-radius: 4px;
                    height: 8px;
                }

                .tabs-resizer-box {
                    position: absolute;
                    background: rgba(#fff, 0.80);
                    height: 20px;
                    width: 20px;
                    border-radius: 50%;
                    top: 50%;
                    margin-top: -10px;
                    margin-left: -10px;
                    left: 50%;
                    cursor: pointer;
                }
            }
        }

        .items-filter-container {
            order: 3;
        }
    }

    .tab-wrapper-content {
        order: 2;
        padding: 30px;
        flex: 1;
        overflow-y: auto;
        // &:not(.is-sticky) {

        &[data-size="0.5"] {
            .content-wrapper {
                width: 20%;
                min-width: 20%;
                height: 200px;
            }
        }

        &[data-size="1"] {
            .content-wrapper {
                width: 25%;
                min-width: 25%;
                height: 300px;
            }
        }

        &[data-size="2"] {
            .content-wrapper {
                width: 50%;
                min-width: 50%;
                height: 400px;
            }
        }

        &.compressed {
            padding: 15px 30px;
        }

    }
}