.group-wrapper {
    display: inline-block;
    position: absolute;
    will-change: auto;
    padding: 10px 10px 0px 10px;
    border: 1px dashed rgba(#fff, 0.25);
    background: rgba(0, 0, 0, 0.3);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    .group-title {
        border: none;
        border-bottom: 1px solid transparent;
        border-radius: 15px;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        background: rgba(#fff, 0.0);
        font-size: medium;
        width: 100%;
        line-height: 60px;
        color: rgba(#fff, 0.50);
        padding: 0 5px;
        outline: none;
        margin-bottom: 10px;
        text-align: center;
        &:hover {
            background: rgba(#fff, 0.05);
        }
        &:active,
        &:focus {
            background: rgba(#fff, 0.05);
            border-bottom: 1px solid rgba(#fff, 0.5);
        }
        &[readonly] {
            user-select: none;
        }
    }
}