.sidebar-wrapper {
    width: 100%;
    height: 100%;
    padding: 0;
    display: flex;
    flex-direction: column;
    background: rgba(#000, 0.025);
    position: relative;
    z-index: 3;
    &.collapsed {
        overflow: hidden;
        ul {
            &.workspace-list {
                overflow-x: hidden;
                li {
                    width: 70px;
                    overflow: hidden;
                    label {
                        padding: 0;
                        i {
                            width: 70px;
                            text-align: center;
                        }
                        &.first-level-label {
                            .name {
                                display: none;
                            }
                        }
                    }
                    &.newWorkspace {
                        label {
                            padding: 0;
                            display: flex;
                            align-items: center;
                            i {
                                margin: 0;
                            }
                            .name {
                                display: none;
                            }
                        }
                    }
                }
            }
        }
        .user-space {
            padding: 0;
            .user-space-content {
                padding-top: 15px;
                padding-bottom: 15px;
                .user-picture-wrapper {
                    background-color: transparent;
                }
            }
        }
    }
    &.expanded {}
    ul {
        padding: 0;
        list-style: none;
        margin: 0;
        &.workspace-list {
            margin-top: 0;
            margin-bottom: auto;
            order: 1;
            flex: 1;
            overflow: auto;
        }
        &.copyright-info {
            order: 3;
            flex: initial;
        }
        li {
            margin-bottom: 1px;
            padding: 0;
            border-bottom: 1px solid rgba(#000, 0.05);
            cursor: pointer;
            text-align: center;
            background: transparent;
            &:last-child {
                border-bottom: none;
            }
            &.hamburger {
                padding-top: 22px;
            }
            &.newWorkspace {
                padding: 30px 30px 0px 30px;
                label {
                    background-color: rgba(#000, 0.025);
                    width: 100%;
                    line-height: 54px;
                    height: 54px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    transition: background-color 0.3s linear 0s;
                    cursor: pointer;
                    text-transform: uppercase;
                    letter-spacing: 1px;
                    font-size: small;
                    i {
                        margin-right: 15px;
                        font-size: medium;
                    }
                    &:hover {
                        background-color: rgba(#fff, 0.75);
                        color: #000;
                    }
                }
            }
            label {
                color: rgba(#000, 0.50);
                width: 100%;
                line-height: 54px;
                height: 54px;
                text-align: left;
                padding: 0 30px;
                margin: 0;
                cursor: pointer;
                &.second-level {
                    padding-left: 84px;
                }
                &:hover {
                    background: rgba(#000, 0.05);
                }
                &.first-level-label {
                    display: flex;
                    align-items: center;
                    border-left: 3px solid rgba(#000, 0);
                    i {
                        width: 36px;
                        font-size: 18px;
                        &.folder-icon.apply-gradient {
                            background-clip: text;
                            -webkit-background-clip: text;
                            -webkit-text-fill-color: transparent;
                        }
                    }
                }
            }
            &.first-level {
                position: relative;
                .list-toggler {
                    position: absolute;
                    right: 12px;
                    top: 9px;
                    height: 36px;
                    width: 36px;
                    border-radius: 50%;
                    text-align: center;
                    cursor: pointer;
                    color: rgba(#000, 0.30);
                    i {
                        cursor: pointer;
                        line-height: 36px;
                    }
                    &:hover {
                        background-color: rgba(#fff, 0.75);
                    }
                }
                ul.sub-list {
                    animation: sub-list-open 0.33s linear forwards 0s;
                    padding-left: 0;
                    li {
                        label {
                            line-height: 48px;
                        }
                    }
                }
            }
            a {
                display: flex;
                width: 100%;
                padding: 0;
                text-decoration: none;
                color: #000;
                label {
                    border-right: 5px solid rgba(#000, 0.0);
                }
                &.active {
                    label {
                        color: rgba(#000, 1);
                        border-right: 5px solid rgba(#000, 0.30);
                    }
                    opacity: 1;
                }
            }
            &.copyright-info {
                font-size: small;
                line-height: 60px;
                padding: 0 30px;
                color: rgba(#000, 0.50);
            }
        }
    }
    .user-space {
        order: 2;
        flex: initial;
        padding: 15px 30px 0 30px;
        .user-space-content {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-flow: column;
            padding: 30px 30px;
            width: 100%;
            background-color: rgba(#000, 0.025);
            border-radius: 4px;
            color: rgba(#000, 0.50);
            .user-picture-wrapper {
                background-color: rgba(#000, 0.10);
                width: 70px;
                height: 60px;
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
            }
            label {
                font-size: medium;
                margin: 0;
                padding: 0;
                margin-top: 30px;
            }
            p {
                font-size: small;
                margin: 0;
                padding: 0;
                opacity: 0.50;
            }
        }
    }
}
@keyframes sub-list-open {
    0% {
        opacity: 0;
        transform: translateY(-5px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}