.sidebar-wrapper {
    width: 100%;
    height: 100%;
    padding: 0;
    display: flex;
    flex-direction: column;
    background: rgba(#fff, 0.025);
    ul {
        padding: 0;
        list-style: none;
        margin: 0;
        &.workspace-list {
            margin-top: 0;
            margin-bottom: auto;
            order: 1;
            flex: 1;
            overflow: auto;
        }
        &.copyright-info {
            order: 3;
            flex: initial;
        }
        li {
            margin-bottom: 1px;
            padding: 0;
            border-bottom: 1px solid rgba(#fff, 0.05);
            cursor: pointer;
            text-align: center;
            background: transparent;
            &:last-child {
                border-bottom: none;
            }
            label {
                color: rgba(#fff, 0.50);
                width: 100%;
                line-height: 48px;
                text-align: left;
                padding: 0 30px;
                margin: 0;
                cursor: pointer;
                &.second-level {
                    padding-left: 60px;
                }
                &:hover {
                    background: rgba(#fff, 0.10);
                }
            }
            &.first-level {
                position: relative;
                .list-toggler {
                    position: absolute;
                    right: 12px;
                    top: 6px;
                    height: 36px;
                    width: 36px;
                    border-radius: 50%;
                    text-align: center;
                    cursor: pointer;
                    color: rgba(#fff, 0.30);
                    i {
                        cursor: pointer;
                        line-height: 36px;
                    }
                    &:hover {
                        background-color: rgba(#fff, 0.10);
                    }
                }
                ul.sub-list {
                    animation: sub-list-open 0.33s linear forwards 0s;
                }
            }
            a {
                display: flex;
                width: 100%;
                padding: 0;
                text-decoration: none;
                color: #fff;
                border-left: 5px solid rgba(#fff, 0);
                &.active {
                    label {
                        color: rgba(#fff, 1);
                    }
                    opacity: 1;
                    border-left: 5px solid rgba(#fff, 0.75);
                }
            }
            &.copyright-info {
                font-size: small;
                line-height: 60px;
                padding: 0 30px;
            }
        }
    }
    .user-space {
        order: 2;
        flex: initial;
        padding: 15px 30px 0 30px;
        .user-space-content {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-flow: column;
            padding: 30px 30px;
            width: 100%;
            background-color: rgba(#fff, 0.025);
            border-radius: 4px;
            color: rgba(#fff, 0.50);
            .user-picture-wrapper {
                background-color: rgba(#fff, 0.10);
                width: 60px;
                height: 60px;
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
            }
            label {
                font-size: medium;
                margin: 0;
                padding: 0;
                margin-top: 30px;
            }
            p {
                font-size: small;
                margin: 0;
                padding: 0;
                opacity: 0.50;
            }
        }
    }
}
@keyframes sub-list-open {
    0% {
        opacity: 0;
        transform: translateY(-5px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}