::-webkit-scrollbar {
  width: 0.75em;
  height: 0.75em;
}

::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.3);
}

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.5);
}

.scroller {
  -ms-scrollbar-face-color: rgba(255, 255, 255, 0.3);
  scrollbar-face-color: rgba(255, 255, 255, 0.3);
  -ms-scrollbar-track-color: rgba(0, 0, 0, 0.5);
  scrollbar-track-color: rgba(0, 0, 0, 0.5);
}

body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  position: relative;
  font-family: "Open Sans", sans-serif;
  color: rgba(255, 255, 255, 0.8);
}
body #root {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
body #root .app-content {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  flex-flow: column;
}
body #root .app-content .app-dragger {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  position: absolute;
  right: 5px;
  top: 5px;
  z-index: 2;
  background-color: rgba(255, 255, 255, 0.3);
  -webkit-app-region: drag;
}
body #root .app-content .app-dragger:hover {
  background-color: rgba(255, 255, 255, 0.75);
}
body #root .app-content .app-content-top {
  order: 1;
  height: 90px;
  width: 100%;
  flex: initial;
  position: relative;
  display: flex;
  will-change: auto;
  padding-bottom: 12px;
}
body #root .app-content .app-content-top.expanded {
  height: 150px;
  animation: expand-height 0.5s ease-out 0s;
}
body #root .app-content .app-content-top.collapsed {
  height: 90px;
  animation: collapse-height 0.5s ease-out 0s;
}
body #root .app-content .app-content-bottom {
  order: 2;
  flex: 1;
  width: 100%;
  background: rgba(0, 0, 0, 0.1);
  display: flex;
  height: calc(100% - 60vh);
  position: relative;
}
body #root .app-content .app-content-sidebar {
  z-index: 2;
  flex: initial;
  height: 100%;
  display: flex;
}
body #root .app-content .app-content-sidebar.left {
  width: 300px;
  order: 1;
  height: 100%;
  border-right: 1px solid rgba(255, 255, 255, 0.05);
}
body #root .app-content .app-content-sidebar.left[data-state=collapsed] {
  display: none;
}
body #root .app-content .app-content-sidebar.left[data-state=expanded] {
  animation: slide-in-from-left 0.5s ease-out 0s forwards;
}
body #root .app-content .app-content-sidebar.right {
  height: 100%;
  width: 300px;
  order: 2;
}
body #root .app-content .app-content-area {
  padding: 0 0 0 0;
  height: 100%;
  flex: 1;
  order: 2;
  overflow: hidden;
  z-index: 1;
  position: relative;
}
body #root .app-content .app-content-area input {
  background: rgba(255, 255, 255, 0.05);
  color: rgba(255, 255, 255, 0.75);
  font-size: x-large;
  padding: 0 10px;
  line-height: 60px;
  border-radius: 4px;
  min-width: 100px;
  text-align: center;
  border: 1px solid rgba(255, 255, 255, 0.5);
  font-weight: 100;
  margin: 0;
  outline: none;
}

* {
  box-sizing: border-box;
  user-select: none;
}

@keyframes slide-in-from-left {
  0% {
    transform: translateX(-50px);
    opacity: 0;
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}
@keyframes slide-in-from-right {
  0% {
    transform: translateX(50px);
    opacity: 0;
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}
@keyframes slide-in-from-top {
  0% {
    transform: translateY(-20px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
@keyframes expand-height {
  0% {
    height: 90px;
  }
  100% {
    height: 150px;
  }
}
@keyframes collapse-height {
  0% {
    height: 150px;
  }
  100% {
    height: 90px;
  }
}
.tabs-wrapper {
  width: 100%;
  height: 100%;
  overflow-y: hidden;
  display: flex;
  flex-flow: column;
  position: relative;
}
.tabs-wrapper .tabs-header {
  order: 1;
  height: 60px;
  display: flex;
  padding: 0 30px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.05);
}
.tabs-wrapper .tabs-header.compressed {
  padding: 0 15px;
}
.tabs-wrapper .tabs-header ul.tabs-titles {
  order: 1;
  height: 60px;
  flex: initial;
  padding: 0;
  white-space: nowrap;
  display: flex;
  list-style: none;
  margin: 0;
}
.tabs-wrapper .tabs-header ul.tabs-titles.compressed {
  width: 100%;
  padding: 0;
}
.tabs-wrapper .tabs-header ul.tabs-titles.compressed li {
  flex: 1;
  min-width: auto;
  font-size: small;
}
.tabs-wrapper .tabs-header ul.tabs-titles li {
  padding: 0;
  line-height: 60px;
  padding: 0 15px;
  margin-right: 1px;
  background: rgba(255, 255, 255, 0);
  min-width: 100px;
  opacity: 0.5;
  text-align: center;
  cursor: pointer;
  user-select: none;
}
.tabs-wrapper .tabs-header ul.tabs-titles li.active {
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  opacity: 1;
}
.tabs-wrapper .tabs-header ul.tabs-titles li:hover {
  background: rgba(255, 255, 255, 0.1);
}
.tabs-wrapper .tabs-header .tabs-resizer-container {
  order: 2;
  width: 180px;
  margin-left: auto;
}
.tabs-wrapper .tabs-header .tabs-resizer-container .tabs-resizer-wrapper {
  width: 100%;
  height: 60px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.tabs-wrapper .tabs-header .tabs-resizer-container .tabs-resizer-wrapper .tabs-resizer-handler {
  width: 100%;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 4px;
  height: 8px;
}
.tabs-wrapper .tabs-header .tabs-resizer-container .tabs-resizer-wrapper .tabs-resizer-box {
  position: absolute;
  background: rgba(255, 255, 255, 0.8);
  height: 20px;
  width: 20px;
  border-radius: 50%;
  top: 50%;
  margin-top: -10px;
  margin-left: -10px;
  left: 50%;
  cursor: pointer;
}
.tabs-wrapper .tabs-header .items-filter-container {
  order: 3;
}
.tabs-wrapper .tab-wrapper-content {
  order: 2;
  padding: 30px;
  flex: 1;
  overflow-y: auto;
}
.tabs-wrapper .tab-wrapper-content[data-size="0.5"] .content-wrapper {
  width: 20%;
  min-width: 20%;
}
.tabs-wrapper .tab-wrapper-content[data-size="0.5"] .content-wrapper .inner-content {
  height: 170px;
}
.tabs-wrapper .tab-wrapper-content[data-size="1"] .content-wrapper {
  width: 25%;
  min-width: 25%;
}
.tabs-wrapper .tab-wrapper-content[data-size="1"] .content-wrapper .inner-content {
  height: 270px;
}
.tabs-wrapper .tab-wrapper-content[data-size="2"] .content-wrapper {
  width: 50%;
  min-width: 50%;
}
.tabs-wrapper .tab-wrapper-content[data-size="2"] .content-wrapper .inner-content {
  height: 370px;
}
.tabs-wrapper .tab-wrapper-content.compressed {
  padding: 15px 30px;
}
.dropdown-wrapper {
  position: relative;
  margin: 0 0 0 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.dropdown-wrapper label.dropdown-item-selected {
  height: 42px;
  line-height: 42px;
  display: block;
  padding: 0;
  font-size: medium;
  letter-spacing: 1px;
  display: flex;
  cursor: pointer;
  min-width: 200px;
  justify-content: flex-end;
  font-weight: 300;
}
.dropdown-wrapper label.dropdown-item-selected i {
  margin-left: 5px;
  height: 42px;
  line-height: 42px;
  opacity: 0.5;
}
.dropdown-wrapper:not(.open) ul.dropdown-menu {
  display: none;
}
.dropdown-wrapper ul.dropdown-menu {
  position: absolute;
  top: 35px;
  right: 0px;
  list-style: none;
  background: #565656;
  padding: 0;
  z-index: 999;
  cursor: pointer;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.25);
}
.dropdown-wrapper ul.dropdown-menu li.dropdown-item {
  height: 48px;
  line-height: 48px;
  padding: 0 30px;
  white-space: nowrap;
  text-align: right;
  transition: all 0.1s linear 0s;
}
.dropdown-wrapper ul.dropdown-menu li.dropdown-item:not(:last-child) {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.dropdown-wrapper ul.dropdown-menu li.dropdown-item:hover, .dropdown-wrapper ul.dropdown-menu li.dropdown-item:focus {
  background-color: #fff;
  color: #000;
}
.tabs-holder {
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 0;
}
.tabs-holder .content-list-wrapper {
  width: 100%;
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 0 0 60px 0px;
}
.tabs-holder .content-list-wrapper h1 {
  font-weight: 100;
  color: rgba(255, 255, 255, 0.33);
  margin: 0 0 20px 0;
  padding: 0 0 0 5px;
}
.tabs-holder .content-list-wrapper .content-items-wrapper {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 0;
}
.tabs-holder.is-sticky .content-wrapper {
  width: 100%;
  min-width: 100%;
  padding: 0;
  max-width: 200px;
}
.tabs-holder.is-sticky .content-wrapper .inner-content {
  height: 120px;
}
.tabs-holder .content-wrapper {
  padding: 10px 17.5px 0 17.5px;
  min-width: 200px;
  margin-bottom: 0px;
}
.tabs-holder .content-wrapper .content {
  background-color: rgba(255, 255, 255, 0);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  cursor: pointer;
  z-index: 1;
}
.tabs-holder .content-wrapper .content h1 {
  opacity: 0.5;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  font-size: medium;
  letter-spacing: 5px;
}
.tabs-holder .content-wrapper .content h2 {
  opacity: 0.2;
  margin: 0;
  padding: 0;
}
.context-menu-wrapper {
  width: 100%;
}

.app-context-menu-wrapper {
  position: fixed;
  z-index: 999;
  background: #fff;
  animation: slide-in-from-top 0.5s ease-out 0s;
}
.app-context-menu-wrapper ul.app-context-menu {
  margin: 0;
  min-width: 100px;
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.25);
}
.app-context-menu-wrapper ul.app-context-menu li {
  font-size: small;
  padding: 0 15px 0 0;
  line-height: 42px;
  display: flex;
  min-width: 120px;
  color: #000;
  transition: all 0.1s linear 0s;
}
.app-context-menu-wrapper ul.app-context-menu li i {
  line-height: 42px;
  width: 42px;
  text-align: center;
  font-size: medium;
}
.app-context-menu-wrapper ul.app-context-menu li:not(:last-child) {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.app-context-menu-wrapper ul.app-context-menu li:hover, .app-context-menu-wrapper ul.app-context-menu li:focus {
  background-color: #f0f0f0;
  color: #000;
}
.inner-content-holder {
  position: relative;
  display: flex;
  flex-flow: column;
}
.inner-content-holder.inherit-dimensions {
  width: 100%;
  height: 100%;
}
.inner-content-holder.inherit-dimensions .inner-content {
  width: 100%;
  height: 100%;
}
.inner-content-holder.inherit-dimensions .inner-content-item-actions {
  padding-right: 24px;
}
.inner-content-holder:hover .inner-content-item-actions, .inner-content-holder:focus .inner-content-item-actions {
  opacity: 1;
}

.inner-content {
  position: relative;
  display: flex;
  flex-flow: column;
  overflow: hidden;
}
.inner-content .inner-content-wrapper {
  position: relative;
  z-index: 2;
  width: 100%;
  flex: 1;
  order: 1;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
  height: calc(100% - 24px);
  border-radius: 4px;
  overflow: hidden;
  cursor: pointer;
}
.inner-content .inner-content-wrapper.notes-open {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.inner-content .inner-content-wrapper:hover .inner-overlay-content-wrapper {
  animation: fade-in-overlay 0.2s linear 0s forwards;
}
.inner-content .inner-content-wrapper:hover .inner-overlay-content-wrapper .inner-content-title {
  animation: slide-in-overlay 0.2s linear 0.05s forwards;
}
.inner-content .inner-content-wrapper .inner-overlay-content-wrapper {
  will-change: auto;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5) 40%, rgba(0, 0, 0, 0.8));
  display: flex;
  flex-flow: column;
  justify-content: flex-end;
  padding: 20px 10px;
  z-index: 4;
}
.inner-content .inner-content-wrapper .inner-overlay-content-wrapper .inner-content-title {
  text-align: center;
  font-size: small;
}
.inner-content .inner-content-type-label {
  z-index: 3;
  background-color: rgba(0, 0, 0, 0.3);
  margin: 0;
  line-height: 16px;
  font-size: xx-small;
  padding: 2px 4px;
  letter-spacing: 2px;
  text-transform: uppercase;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.5;
}
.inner-content .photo-content {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0.1);
}
.inner-content .photo-content .photo {
  display: block;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  opacity: 0;
}
.inner-content .photo-content .photo.shown {
  opacity: 1;
  animation: show-image 1s ease-out forwards;
}
.inner-content .video-content {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0.1);
  position: relative;
}
.inner-content .video-content .video-duration {
  z-index: 3;
  text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5);
  margin: 0;
  line-height: 16px;
  font-size: x-small;
  padding: 2px 4px;
  letter-spacing: 2px;
  text-transform: uppercase;
  position: absolute;
  top: 0;
  opacity: 0.8;
  top: 0;
  right: 0;
}
.inner-content .video-content .video-photo {
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  opacity: 0;
}
.inner-content .video-content .video-photo.shown {
  opacity: 1;
  animation: show-image 1s ease-out forwards;
}
.inner-content .video-content .video-overlay {
  z-index: 2;
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.inner-content .video-content .video-overlay i.play-icon {
  font-size: 48px;
}
.inner-content .article-content {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0.1);
  position: relative;
  padding: 30px 15px 10px 15px;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
}
.inner-content .article-content .article-title {
  font-size: small;
  color: rgba(255, 255, 255, 0.8);
  text-transform: lowercase;
}
.inner-content .article-content .article-author {
  font-size: x-small;
  text-transform: uppercase;
  font-weight: bold;
  color: rgba(255, 255, 255, 0.3);
  letter-spacing: 1px;
}
.inner-content .link-content {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0.1);
  position: relative;
  padding: 30px 15px 10px 15px;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
}
.inner-content .link-content .link-title {
  font-size: small;
  color: rgba(255, 255, 255, 0.8);
}
.inner-content .link-content .link-author {
  font-size: x-small;
  color: rgba(255, 255, 255, 0.5);
}

.inner-content-item-actions {
  width: 100%;
  height: 24px;
  order: 2;
  flex: initial;
  display: flex;
  justify-content: space-between;
  opacity: 0;
}
.inner-content-item-actions i {
  width: 24px;
  line-height: 24px;
  opacity: 0.5;
  cursor: pointer;
}
.inner-content-item-actions i.smaller {
  font-size: 16px;
}

.inner-content-meta {
  width: 100%;
  background: rgba(255, 255, 255, 0.05);
  padding: 10px;
  font-size: small;
  color: rgba(255, 255, 255, 0.5);
}
.inner-content-meta .inner-content-meta-tags ul {
  padding: 0;
  margin: 0;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  list-style: none;
  flex-flow: row wrap;
}
.inner-content-meta .inner-content-meta-tags ul li {
  background-color: rgba(255, 255, 255, 0.1);
  padding: 5px 15px;
  margin: 5px 5px 0 0;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.inner-content-meta .inner-content-meta-tags ul li.new-tag {
  border: 1px solid rgba(255, 255, 255, 0.1);
  background-color: transparent;
  text-transform: uppercase;
  font-size: 11px;
  padding-left: 7px;
  padding-right: 10px;
}
.inner-content-meta .inner-content-meta-tags ul li.new-tag i {
  font-size: small;
  margin-right: 5px;
}
.inner-content-meta .inner-content-meta-notes p {
  margin: 10px 0 5px 0;
}

@keyframes show-image {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in-overlay {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes slide-in-overlay {
  0% {
    transform: translateY(5px);
  }
  100% {
    transform: translateY(0);
  }
}
.app-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  flex-direction: column;
}
.app-container button {
  cursor: pointer;
  background: transparent;
  line-height: 48px;
  border-radius: 30px;
  border: 2px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.1);
  min-width: 100px;
  padding: 0 30px;
  color: rgba(255, 255, 255, 0.5);
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: bold;
  outline: none;
  font-size: small;
  margin-top: 100px;
  margin-bottom: -30px;
  transition: all 0.2s linear 0s;
}
.app-container button:hover {
  background-color: rgba(255, 255, 255, 0.1);
  color: rgba(255, 255, 255, 0.75);
}
.app-container .app-introduction {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.app-container .app-introduction .step {
  height: 350px;
  max-width: 30%;
  padding: 0 60px;
  display: flex;
  flex-flow: column;
  justify-content: flex-end;
  align-items: center;
}
.app-container .app-introduction .step .step-pic {
  width: 300px;
  height: 300px;
  background-color: #fff;
}
.app-container .app-introduction .step:not(:last-child) {
  border-right: 1px dotted rgba(255, 255, 255, 0.2);
}
.app-container .app-introduction .step label.step-header {
  text-transform: uppercase;
  padding: 10px 20px;
  background-color: rgba(255, 255, 255, 0.05);
  color: rgba(255, 255, 255, 0.3);
  margin-top: 75px;
  letter-spacing: 1px;
  font-weight: bold;
  position: relative;
  font-weight: bold;
  line-height: 1;
  position: relative;
  display: inline-block;
  text-align: center;
}
.app-container .app-introduction .step img {
  width: 80%;
}
.app-container .app-introduction .step h1 {
  margin-top: 30px;
  font-size: large;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: rgba(255, 255, 255, 0.75);
}
.app-container .app-introduction .step label:not(.step-header) {
  margin: 0;
  text-align: center;
  color: rgba(255, 255, 255, 0.3);
}
.sidebar-wrapper {
  width: 100%;
  height: 100%;
  padding: 0;
  display: flex;
  flex-direction: column;
  background: rgba(255, 255, 255, 0.025);
}
.sidebar-wrapper ul {
  padding: 0;
  list-style: none;
  margin: 0;
}
.sidebar-wrapper ul.workspace-list {
  margin-top: 0;
  margin-bottom: auto;
  order: 1;
  flex: 1;
  overflow: auto;
}
.sidebar-wrapper ul.copyright-info {
  order: 3;
  flex: initial;
}
.sidebar-wrapper ul li {
  margin-bottom: 1px;
  padding: 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.05);
  cursor: pointer;
  text-align: center;
  background: transparent;
}
.sidebar-wrapper ul li:last-child {
  border-bottom: none;
}
.sidebar-wrapper ul li label {
  color: rgba(255, 255, 255, 0.5);
  width: 100%;
  line-height: 54px;
  text-align: left;
  padding: 0 30px;
  margin: 0;
  cursor: pointer;
}
.sidebar-wrapper ul li label.second-level {
  padding-left: 84px;
}
.sidebar-wrapper ul li label:hover {
  background: rgba(255, 255, 255, 0.1);
}
.sidebar-wrapper ul li label.first-level-label {
  display: flex;
  align-items: center;
}
.sidebar-wrapper ul li label.first-level-label i {
  width: 36px;
  font-size: 18px;
}
.sidebar-wrapper ul li.first-level {
  position: relative;
}
.sidebar-wrapper ul li.first-level .list-toggler {
  position: absolute;
  right: 12px;
  top: 9px;
  height: 36px;
  width: 36px;
  border-radius: 50%;
  text-align: center;
  cursor: pointer;
  color: rgba(255, 255, 255, 0.3);
}
.sidebar-wrapper ul li.first-level .list-toggler i {
  cursor: pointer;
  line-height: 36px;
}
.sidebar-wrapper ul li.first-level .list-toggler:hover {
  background-color: rgba(255, 255, 255, 0.1);
}
.sidebar-wrapper ul li.first-level ul.sub-list {
  animation: sub-list-open 0.33s linear forwards 0s;
  padding-left: 0;
}
.sidebar-wrapper ul li.first-level ul.sub-list li label {
  line-height: 48px;
}
.sidebar-wrapper ul li a {
  display: flex;
  width: 100%;
  padding: 0;
  text-decoration: none;
  color: #fff;
  border-left: 5px solid rgba(255, 255, 255, 0);
}
.sidebar-wrapper ul li a.active {
  opacity: 1;
  border-left: 5px solid rgba(255, 255, 255, 0.75);
}
.sidebar-wrapper ul li a.active label {
  color: white;
}
.sidebar-wrapper ul li.copyright-info {
  font-size: small;
  line-height: 60px;
  padding: 0 30px;
}
.sidebar-wrapper .user-space {
  order: 2;
  flex: initial;
  padding: 15px 30px 0 30px;
}
.sidebar-wrapper .user-space .user-space-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  padding: 30px 30px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.025);
  border-radius: 4px;
  color: rgba(255, 255, 255, 0.5);
}
.sidebar-wrapper .user-space .user-space-content .user-picture-wrapper {
  background-color: rgba(255, 255, 255, 0.1);
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sidebar-wrapper .user-space .user-space-content label {
  font-size: medium;
  margin: 0;
  padding: 0;
  margin-top: 30px;
}
.sidebar-wrapper .user-space .user-space-content p {
  font-size: small;
  margin: 0;
  padding: 0;
  opacity: 0.5;
}

@keyframes sub-list-open {
  0% {
    opacity: 0;
    transform: translateY(-5px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
.workspace-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
}
.workspace-wrapper.show-grid {
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.1) 0px, transparent 1%) center, linear-gradient(rgba(0, 0, 0, 0.1) 0px, transparent 1%) center, rgba(0, 0, 0, 0.01);
  background-size: 5px 5px;
}
.workspace-wrapper .working-area {
  flex: 1;
  order: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  z-index: 1;
}
.workspace-wrapper .working-area:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: radial-gradient(rgba(255, 255, 255, 0.2) 10%, transparent 0%);
  background-size: 5px 5px;
}
.workspace-wrapper .rte-area {
  z-index: 2;
  height: 100%;
  width: 500px;
  flex: initial;
  order: 2;
  animation: slide-in-from-right 0.5s ease-out 0s;
  max-height: 100%;
}
.workspace-wrapper .rte-area .rte-wrapper {
  height: 100%;
}
.workspace-wrapper .rte-area [class^=RichTextEditor__root] {
  background: none;
  border: none;
  height: 100%;
  display: flex;
  flex-flow: column;
}
.workspace-wrapper .rte-area [class^=RichTextEditor__editor] {
  flex: 1;
  order: 2;
  padding: 0px 0 10px 5px;
  color: rgba(255, 255, 255, 0.5);
}
.workspace-wrapper .rte-area [class^=RichTextEditor__editor] .DraftEditor-root {
  height: calc(100vh - 166px);
}
.workspace-wrapper .rte-area [class^=RichTextEditor__editor] .DraftEditor-root .DraftEditor-editorContainer {
  z-index: 2;
}
.workspace-wrapper .rte-area [class^=RichTextEditor__editor] .DraftEditor-root .DraftEditor-editorContainer .public-DraftEditor-content {
  padding-top: 15px;
}
.workspace-wrapper .rte-area [class^=EditorToolbar__root] {
  flex: initial;
  order: 1;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  padding: 15px 10px 10px 10px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  margin: 0;
}
.workspace-wrapper .rte-area [class^=EditorToolbar__root] [class^=ButtonWrap__root] button {
  background: rgba(255, 255, 255, 0.33);
  border: 1px solid rgba(0, 0, 0, 0.01);
  margin-right: 1px;
  color: rgba(255, 255, 255, 0.5);
}
.workspace-wrapper .rte-area [class^=EditorToolbar__root] [class^=ButtonWrap__root] button[class*=IconButton__isActive] {
  background: rgba(255, 255, 255, 0.75);
}
.workspace-wrapper .rte-area [class^=EditorToolbar__root] [class^=Dropdown__root] select {
  color: rgba(255, 255, 255, 0.5);
}
.workspace-wrapper .rte-area [class^=EditorToolbar__root] [class^=Dropdown__root] [class^=Dropdown__value] {
  border: 1px solid rgba(255, 255, 255, 0.1);
}
.workspace-wrapper .sticky-dumping-ground {
  width: 300px;
  flex: initial;
  order: 3;
  animation: slide-in-from-right 0.5s ease-out 0s;
  z-index: 2;
  height: 100%;
}
.resizer-wrapper {
  width: 100%;
  height: 100%;
  position: relative;
}
.resizer-wrapper .resizer-handler {
  background: rgba(86, 86, 86, 0.33);
  text-align: center;
  height: 36px;
  width: 18px;
  cursor: grab;
  position: absolute;
  top: 50%;
  left: -1px;
  z-index: 2;
  margin-top: -18px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.resizer-wrapper .resizer-handler i {
  line-height: 36px;
  opacity: 0.5;
  transition: opacity 0.3s linear 0s;
  position: relative;
  left: -3px;
}
.resizer-wrapper .resizer-handler:hover i, .resizer-wrapper .resizer-handler:focus i, .resizer-wrapper .resizer-handler:active i {
  opacity: 0.8;
}
.board-group-outer {
  width: 100%;
  height: 100%;
  display: inline-block;
  z-index: 2;
  overflow: auto;
  position: relative;
}
.board-group-outer .board-group-holder {
  width: 3000px;
  height: 3000px;
  position: relative;
}

.workspace-actions {
  position: absolute;
  bottom: 48px;
  right: 48px;
  z-index: 3;
  display: flex;
}
.workspace-actions .workspace-action {
  width: 48px;
  height: 48px;
  text-align: center;
  background: rgba(0, 0, 0, 0.5);
  margin: 0 1px;
  cursor: pointer;
}
.workspace-actions .workspace-action i {
  line-height: 48px;
  opacity: 0.33;
}
.workspace-actions .workspace-action:hover i {
  opacity: 1;
}
.group-wrapper {
  display: inline-block;
  position: absolute;
}
.group-content {
  border: 1px dashed rgba(255, 255, 255, 0.25);
  padding: 10px 10px 0px 10px;
  display: flex;
  flex-direction: column;
  background: rgba(0, 0, 0, 0.3);
  border-radius: 5px;
}
.group-content.entity-over label {
  color: #000;
}
.group-content.entity-over:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.25));
}
.board-content-wrapper {
  display: inline-block;
  margin-bottom: 0;
  padding: 0px;
  border-radius: 5px;
  position: relative;
}
.board-content-wrapper:last-child {
  margin: 0;
}
.board-content-wrapper .board-content {
  position: relative;
  z-index: 1;
}
.board-content-wrapper:hover .board-content-resizer {
  opacity: 1;
}
.board-content-wrapper .board-content-resizer {
  z-index: 2;
  bottom: 0;
  right: 0;
  position: absolute;
  width: 20px;
  height: 20px;
  line-height: 20px;
  opacity: 0;
  color: rgba(255, 255, 255, 0.5);
  transition: opacity 0.3s ease-out 0s;
  cursor: pointer;
}
.board-content-wrapper .board-content-resizer i {
  transform-origin: center;
  transform: rotate(45deg);
}
.board-content {
  width: 100%;
  height: 100%;
  padding: 0px;
}
.board-content h1 {
  font-size: small;
}
.app-actions {
  height: 100%;
  display: flex;
  align-items: flex-end;
}
.app-actions.right {
  order: 2;
  flex: initial;
  margin-left: auto;
  margin-right: 12px;
}
.app-actions.left {
  order: 1;
  flex: initial;
  margin-right: auto;
  margin-left: 12px;
}
.app-actions .separator {
  height: 36px;
  width: 1px;
  background-color: rgba(255, 255, 255, 0.15);
  margin: 0 6px 6px 15px;
}
.app-actions .toggler {
  border: 2px solid rgba(255, 255, 255, 0.1);
  display: flex;
  margin-bottom: 6px;
  margin-right: 12px;
  border-radius: 20px;
  overflow: hidden;
}
.app-actions .toggler label {
  margin: 0;
  line-height: 32px;
  height: 32px;
  padding: 0 10px;
  font-size: x-small;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 2px;
  cursor: pointer;
  min-width: 80px;
  text-align: center;
  transition: background-color 0.2s linear 0s;
}
.app-actions .toggler label.active {
  background-color: rgba(255, 255, 255, 0.1);
}
.app-actions .toggler label:not(.active):hover, .app-actions .toggler label:not(.active):focus {
  background-color: rgba(255, 255, 255, 0.025);
}
.app-actions .action {
  margin-left: 10px;
  height: 48px;
  text-align: center;
  width: 48px;
  border: 1px solid rgba(0, 0, 0, 0);
  cursor: pointer;
}
.app-actions .action.active {
  border-color: rgba(255, 255, 255, 0.3);
}
.app-actions .action i {
  line-height: 48px;
  color: rgba(255, 255, 255, 0.5);
}
.app-actions .action:hover {
  background-color: rgba(0, 0, 0, 0.05);
}
.app-actions ul.topic-headers {
  list-style: none;
  white-space: nowrap;
  display: flex;
  flex-flow: row;
  margin: 0px 0 6px 0;
  padding: 0 0 0 20px;
}
.app-actions ul.topic-headers li {
  padding: 0 20px;
  margin-right: 0;
  color: rgba(255, 255, 255, 0.5);
  font-size: small;
  border-right: 1px solid rgba(255, 255, 255, 0);
}
.app-actions ul.topic-headers li.active label {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 20px;
}
.app-actions ul.topic-headers li:hover label {
  background-color: rgba(255, 255, 255, 0.05);
  border-radius: 20px;
}
.app-actions ul.topic-headers li label {
  display: block;
  min-width: 100px;
  line-height: 36px;
  margin: 0;
  padding: 0 20px;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0);
  transition: background-color 0.2s ease 0s;
}
.app-actions ul.topic-headers li:not(:first-child) {
  border-left: 1px solid rgba(255, 255, 255, 0.1);
}
.app-actions ul.topic-headers li:last-child {
  width: 48px;
  text-align: center;
}
.app-actions ul.topic-headers li:last-child:hover i {
  background-color: rgba(255, 255, 255, 0.05);
  border-radius: 50%;
}
.app-actions ul.topic-headers li:last-child i {
  width: 36px;
  font-size: medium;
  line-height: 36px;
  cursor: pointer;
}

.app-sidebar-toggle {
  z-index: 2;
  bottom: 12px;
  left: 12px;
  height: 48px;
  width: 48px;
  border-radius: 50%;
  text-align: center;
  cursor: pointer;
}
.app-sidebar-toggle i {
  line-height: 48px;
}
.app-sidebar-toggle:hover {
  background-color: rgba(0, 0, 0, 0.05);
}
.app-workspace-preview {
  height: 100%;
  order: 2;
  flex: 1;
  display: flex;
  padding-top: 30px;
  margin-left: 12px;
  justify-content: center;
}
.app-workspace-preview .workspace {
  width: 200px;
  height: 100%;
  margin: 0 10px 0 0;
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.6);
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  position: relative;
  overflow: hidden;
}
.app-workspace-preview .workspace.entity-over label {
  color: #000;
}
.app-workspace-preview .workspace.entity-over:before {
  content: "";
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), white);
}
.app-workspace-preview .workspace label {
  text-transform: uppercase;
  font-size: small;
  line-height: 42px;
  height: 42px;
  letter-spacing: 1px;
  position: relative;
  z-index: 2;
}
.app-workspace-preview .workspace:not(.entity-over) label {
  color: #fff;
}
.app-workspace-preview .workspace:not(.entity-over):before {
  content: "";
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), black);
}
.toasts-wrapper {
  position: fixed;
  bottom: 48px;
  display: flex;
  justify-content: flex-end;
  z-index: 999;
  flex-direction: column;
}
.toasts-wrapper .toast-item-wrapper {
  margin: 10px 0;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: toast-appear 0.3s ease-out 0s forwards;
  min-height: 60px;
}
.toasts-wrapper .toast-item-wrapper[data-type=Success] {
  background-color: rgba(221, 247, 232, 0.8);
}
.toasts-wrapper .toast-item-wrapper[data-type=Success] label {
  color: #19703e;
}
.toasts-wrapper .toast-item-wrapper[data-type=Failure] {
  background-color: rgba(253, 243, 242, 0.8);
}
.toasts-wrapper .toast-item-wrapper[data-type=Failure] label {
  color: #bf2718;
}
.toasts-wrapper .toast-item-wrapper[data-type=Warning] {
  background-color: rgba(248, 226, 135, 0.8);
}
.toasts-wrapper .toast-item-wrapper[data-type=Warning] label {
  color: black;
}
.toasts-wrapper .toast-item-wrapper label {
  display: block;
  padding: 0px 60px;
  color: #000;
}
.toasts-wrapper .toast-item-wrapper .toast-item-close {
  width: 60px;
  opacity: 0.3;
  color: #000;
  height: 60px;
  line-height: 60px;
  text-align: center;
  cursor: pointer;
}
.toasts-wrapper .toast-item-wrapper .toast-item-close:hover {
  background-color: rgba(0, 0, 0, 0.1);
  opacity: 1;
}
.toasts-wrapper .toast-item-wrapper .toast-item-close i {
  line-height: 60px;
}

@keyframes toast-appear {
  0% {
    opacity: 0;
    transform: translateY(20px) scale(0.9, 0.9);
  }
  100% {
    opacity: 1;
    transform: translateY(0px) scale(1, 1);
  }
}
.content-viewer-holder {
  position: absolute;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.content-viewer-holder:before {
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 11;
}
.content-viewer-holder .close-viewer {
  position: absolute;
  top: 0;
  right: 0;
  width: 60px;
  height: 60px;
  text-align: center;
  z-index: 13;
  cursor: pointer;
}
.content-viewer-holder .close-viewer i {
  line-height: 60px;
}
.content-viewer-holder .content-viewer-wrapper {
  position: relative;
  z-index: 12;
  display: flex;
  justify-content: center;
  align-items: center;
}
.content-viewer-holder .content-viewer-wrapper .content-viewer {
  order: 1;
  flex: 1;
  position: relative;
  z-index: 12;
  display: flex;
  flex-flow: column;
  align-items: center;
}
.content-viewer-holder .content-viewer-wrapper .content-viewer label.content-viewer-title {
  margin: 20px 0 10px 0;
  font-size: medium;
  font-weight: 300;
}
.content-viewer-holder .content-viewer-wrapper .content-viewer .content-viewer-tags {
  display: flex;
  flex-flow: row wrap;
}
.content-viewer-holder .content-viewer-wrapper .content-viewer .content-viewer-tags label.tag {
  font-weight: 300;
  font-size: small;
  margin: 5px;
  background: rgba(255, 255, 255, 0.1);
  padding: 7px 12px;
  border-radius: 20px;
  min-width: 75px;
  text-align: center;
}
.content-viewer-holder .content-viewer-wrapper .content-viewer .video-content-viewer {
  height: 576px;
  width: 1024;
  padding: 0;
  position: relative;
}
.content-viewer-holder .content-viewer-wrapper .content-viewer .photo-content-viewer {
  height: 60vh;
  width: 60vw;
  padding: 0;
  position: relative;
}
.content-viewer-holder .content-viewer-wrapper .content-viewer .photo-content-viewer .photo-content-image {
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
.content-viewer-holder .content-viewer-wrapper .content-viewer .photo-content-viewer .video-content-image {
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  left: 0;
}
.content-viewer-holder .content-viewer-wrapper .content-viewer .photo-content-viewer .video-player {
  width: 100%;
  height: 100%;
}
.content-viewer-holder .content-viewer-wrapper .content-editor {
  width: 500px;
  order: 2;
  flex: initial;
  display: flex;
  flex-flow: column;
  padding: 30px;
}
.content-viewer-holder .content-viewer-wrapper .content-editor .content-editor-item {
  width: 100%;
  display: flex;
  flex-flow: column;
}
.content-viewer-holder .content-viewer-wrapper .content-editor .content-editor-item:not(:last-child) {
  margin-bottom: 15px;
}
.content-viewer-holder .content-viewer-wrapper .content-editor .content-editor-item label.key {
  font-size: medium;
  font-weight: bold;
  letter-spacing: 1px;
  color: rgba(255, 255, 255, 0.3);
  margin: 10px 0;
  text-transform: uppercase;
}
.content-viewer-holder .content-viewer-wrapper .content-editor .content-editor-item input.value,
.content-viewer-holder .content-viewer-wrapper .content-editor .content-editor-item textarea.value {
  font-size: small;
  border: none;
  padding: 10px 15px;
  background: #333333;
  border: 1px solid rgba(255, 255, 255, 0.33);
  border-radius: 4px;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.6);
  outline: none;
}
.content-viewer-holder .content-viewer-wrapper .content-editor .content-editor-item textarea.value {
  min-height: 36px;
}
.content-viewer-holder .content-viewer-wrapper .content-editor .content-editor-item .content-tags-container {
  display: flex;
  flex-flow: row wrap;
}
.content-viewer-holder .content-viewer-wrapper .content-editor .content-editor-item .content-tags-container input.content-editor-item-tag {
  border: none;
  padding: 0 10px;
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 4px;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.6);
  outline: none;
  border-radius: 20px;
  margin: 0 5px 5px 0;
  font-size: small;
  line-height: 36px;
  min-width: 60px;
  text-align: center;
}

/*# sourceMappingURL=/renderer.f69400ca.css.map */