.workspace-list-group-item-holder {
    &.normal {
        width: 250px;

        .inner-content .inview-wrapper {
            height: 180px;
        }
    }

    &.double {
        width: 50%;

        .inner-content .inview-wrapper {
            height: 300px;
        }
    }

    &.max {
        width: 100%;

        .inner-content .inview-wrapper {
            height: 600px;
        }
    }

    padding: 10px;
}