.group-content {
    border: 1px dashed rgba(#fff, 0.25);
    padding: 20px 20px 0px 20px;
    display: flex;
    flex-direction: column;
    background: rgba(#000, 0.30);
    border-radius: 5px;
    &.entity-over {
        label {
            color: #000;
        }
        &:before {
            content: '';
            position: absolute;
            top:0;
            left: 0;
            z-index: 1;
            width: 100%;
            height: 100%;
            background-image: linear-gradient(to bottom, rgba(#fff, 0), rgba(#fff, 0.25))
        }
    }

}