.app-actions {
    &.right {
        order: 2;
        flex: initial;
        margin-left: auto;
        margin-right: 12px;
    }

    &.left {
        order: 1;
        flex: initial;
        margin-right: auto;
        margin-left: 12px;
    }

    height: 100%;
    display: flex;
    align-items: flex-end;

    .action {
        margin-left: 10px;
        height: 48px;
        text-align: center;
        width: 48px;
        border: 1px solid rgba(#000, 0);

        &.active {
            border-color: rgba(#fff, 0.30);
        }

        i {
            line-height: 48px;
            color: rgba(#fff, 0.50);
        }

        cursor: pointer;

        &:hover {
            background-color: rgba(#000, 0.05);
        }
    }
}

.app-sidebar-toggle {
    z-index: 2;
    bottom: 12px;
    left: 12px;
    height: 48px;
    width: 48px;
    border-radius: 50%;
    text-align: center;

    i {
        line-height: 48px;
    }

    cursor: pointer;

    &:hover {
        background-color: rgba(#000, 0.05);
    }
}