.app-actions {
    &.right {
        order: 2;
        flex: initial;
        margin-left: auto;
        margin-right: 12px;
    }

    &.left {
        order: 1;
        flex: initial;
        margin-right: auto;
        margin-left: 12px;
    }

    height: 100%;
    display: flex;
    align-items: flex-end;

    .separator {
        height: 36px;
        width: 1px;
        background-color: rgba(#fff, 0.15);
        margin: 0 6px 6px 15px;
    }

    .toggler {
        border: 2px solid rgba(#fff, 0.1);
        display: flex;
        margin-bottom: 6px;
        margin-right: 12px;
        border-radius: 20px;
        overflow: hidden;

        label {
            margin: 0;
            line-height: 32px;
            height: 32px;
            padding: 0 10px;
            font-size: x-small;
            text-transform: uppercase;
            font-weight: bold;
            letter-spacing: 2px;
            cursor: pointer;
            min-width: 80px;
            text-align: center;
            transition: background-color 0.2s linear 0s;

            &.active {
                background-color: rgba(#fff, 0.1);
            }

            &:not(.active):hover,
            &:not(.active):focus {
                background-color: rgba(#fff, 0.025);
            }
        }
    }

    .action {
        margin-left: 10px;
        height: 48px;
        text-align: center;
        width: 48px;
        border: 1px solid rgba(#000, 0);

        &.active {
            border-color: rgba(#fff, 0.30);
        }

        i {
            line-height: 48px;
            color: rgba(#fff, 0.50);
        }

        cursor: pointer;

        &:hover {
            background-color: rgba(#000, 0.05);
        }
    }

    ul.topic-headers {
        list-style: none;
        white-space: nowrap;
        display: flex;
        flex-flow: row;
        margin: 0px 0 6px 0;
        padding: 0 0 0 20px;

        li {
            padding: 0 20px;
            margin-right: 0;
            color: rgba(#fff, 0.50);
            font-size: small;
            border-right: 1px solid rgba(#fff, 0.00);

            &.active {
                label {
                    background-color: rgba(#fff, 0.1);
                    border-radius: 20px;
                    color: #fff;
                    text-shadow: 0px 0px 10px rgba(0,0,0,0.80);
                }
            }

            &:hover {
                label {
                    background-color: rgba(#fff, 0.05);
                    border-radius: 20px;
                }
            }

            label {
                display: block;
                min-width: 100px;
                line-height: 36px;
                margin: 0;
                padding: 0 20px;
                cursor: pointer;
                background-color: rgba(#fff, 0.0);
                transition: background-color 0.2s ease 0s;
            }

            &:not(:first-child) {
                border-left: 1px solid rgba(#fff, 0.10);
            }

            &:last-child {
                width: 48px;
                text-align: center;

                &:hover {
                    i {
                        background-color: rgba(#fff, 0.05);
                        border-radius: 50%;
                    }
                }

                i {
                    width: 36px;
                    font-size: medium;
                    line-height: 36px;
                    cursor: pointer;
                }
            }
        }
    }
}

.app-sidebar-toggle {
    z-index: 2;
    bottom: 12px;
    left: 12px;
    height: 48px;
    width: 48px;
    border-radius: 50%;
    text-align: center;

    i {
        line-height: 48px;
    }

    cursor: pointer;

    &:hover {
        background-color: rgba(#000, 0.05);
    }
}