.app-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding-bottom: 60px;
    flex-direction: column;
    h1 {
        font-size: 100px;
        font-weight: 100;
        text-transform: uppercase;
        letter-spacing: 5px;
        color: rgba($color: #fff, $alpha: 0.05);
        margin-top: -60px;
    }
    button {
        cursor: pointer;
        background: transparent;
        line-height: 60px;
        border-radius: 30px;
        border: 2px solid rgba($color: #fff, $alpha: 0.50);
        box-shadow: 0px 0px 3px rgba($color: #000, $alpha: 0.1);
        min-width: 100px;
        padding: 0 45px;
        color: rgba($color: #fff, $alpha: 0.50);
        text-transform: uppercase;
        letter-spacing: 2px;
        font-weight: bold;
        outline: none;
        font-size: medium;
        &:hover {
            
        }
    }
}